@import "common/foundation/variables";

$tiles-padding: 3px !default;

// Tiles Grid
//------------------------------------------
.tiles-initialized {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  .tiles-col {
    min-width: calc(100% / 3);
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .tiles-col--3 {
    display: none;
  }

  @media (min-width: 775px) {
    .tiles-col--3 {
      display: block;
    }
  }

  .lightbox-wrapper,
  > img {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: $tiles-padding;
  }

  .lightbox {
    display: block;
    position: relative;
    background: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      display: flex;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      background: rgba(0, 0, 0, 0.75);
      z-index: 1;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      font-family: fontAwesome;
      content: "\f00e";
      align-items: center;
      justify-content: center;
      font-size: 1.5em;
      color: $primary-low;
    }

    &:hover:before {
      opacity: 1;
      background: rgba(0, 0, 0, 0.75);
    }

    .meta {
      display: none;
    }
    > img:not(.thumbnail) {
      max-width: 100%;
      width: 100%;
      max-height: unset;
      height: auto;
      transition: opacity 1s ease;
      opacity: 0;
      z-index: 0;
    }

    .spinner {
      opacity: 0.5;
    }
  }

  p:empty,
  br,
  > img {
    display: none;
  }
}

#reply-control div[data-theme-tiles="1"] > p {
  border-left: 4px solid $tertiary;
  padding-left: 2px;
  margin-top: 2em;

  > img:not(.thumbnail) {
    width: auto;
    max-height: 110px;
    margin: 2px;
  }
}

.bio-composer .TilesGallery {
  display: none;
}

.spinner-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
